# 2018-01-24-morning

### Decision Trees

You are given data from the Titanic, in `data.csv`.

For this challenge we need to guess whether the individuals from the dataset had survived or not. Use the provided features and either modify, delete or add new features based on existing ones. This is a very core part of being a data scientist.

After you have massaged the data into the form that makes you happy, then use a DecisionTreeClassifier from sklearn and try and get the highest accuracy you can get. Try adjusting the depth of the tree to vary accuracy.

Finally try to perform cross validation.

*Note* the `data-dictionary.txt` provides information on the fields in the CSV file.

### Pull Request

Send me a pull request after analysis is complete.

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
from itertools import combinations
from sklearn.model_selection import cross_val_score
from sklearn import tree
%matplotlib inline

In [98]:
df = pd.read_csv('data.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

I replaced all of the Nan's with zero's and dummified the sex column

In [103]:
df.replace(np.nan, 0, inplace=True)
#df.dropna(axis=0, how='any', inplace=True)

In [104]:
def sex_to_numeric(s):
    if s=='Male':
        return 1
    else:
        return 0

In [105]:
df['male'] = df['Sex'].apply(sex_to_numeric)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S,0
5,6,0,3,"Moran, Mr. James",male,0.0,0,0,330877,8.4583,0,Q,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,0,S,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,0,S,0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,0.0,0,0,244373,13.0000,0,S,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,0,S,0
19,20,1,3,"Masselmani, Mrs. Fatima",female,0.0,0,0,2649,7.2250,0,C,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,0,S,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,0,Q,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,0,S,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,0,S,0
26,27,0,3,"Emir, Mr. Farred Chehab",male,0.0,0,0,2631,7.2250,0,C,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0.0,0,0,330959,7.8792,0,Q,0
29,30,0,3,"Todoroff, Mr. Lalio",male,0.0,0,0,349216,7.8958,0,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,0,S,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,0.0,8,2,CA. 2343,69.5500,0,S,0
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,0,S,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,0,S,0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,0,C,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,0.0,0,0,345777,9.5000,0,S,0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,0,S,0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,0,S,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,0,S,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,0,C,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,0,C,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,0,S,0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,0,S,0
878,879,0,3,"Laleff, Mr. Kristo",male,0.0,0,0,349217,7.8958,0,S,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,0,S,0
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,0,S,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,0,S,0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,0,S,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,0,S,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,0,Q,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q,0

After I ran this model once, I decided to go back and split out the name column to get just the prefix so we could generate a column that was either "adult or child" to see if we could get a better score.   that was a no on the better score.

In [115]:
df['Last'], df['beginning'] = df['Name'].str.split(',', 1).str

In [119]:
df['Prefix'], df['first'] = df['beginning'].str.split('.', 1).str
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,male,Last,first,beginning,Prefix
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S,0,Braund,Owen Harris,Mr. Owen Harris,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,Cumings,John Bradley (Florence Briggs Thayer),Mrs. John Bradley (Florence Briggs Thayer),Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S,0,Heikkinen,Laina,Miss. Laina,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,Futrelle,Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S,0,Allen,William Henry,Mr. William Henry,Mr
5,6,0,3,"Moran, Mr. James",male,0.0,0,0,330877,8.4583,0,Q,0,Moran,James,Mr. James,Mr
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,McCarthy,Timothy J,Mr. Timothy J,Mr
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S,0,Palsson,Gosta Leonard,Master. Gosta Leonard,Master
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S,0,Johnson,Oscar W (Elisabeth Vilhelmina Berg),Mrs. Oscar W (Elisabeth Vilhelmina Berg),Mrs
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C,0,Nasser,Nicholas (Adele Achem),Mrs. Nicholas (Adele Achem),Mrs
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0,Sandstrom,Marguerite Rut,Miss. Marguerite Rut,Miss
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0,Bonnell,Elizabeth,Miss. Elizabeth,Miss
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S,0,Saundercock,William Henry,Mr. William Henry,Mr
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S,0,Andersson,Anders Johan,Mr. Anders Johan,Mr
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,0,S,0,Vestrom,Hulda Amanda Adolfina,Miss. Hulda Amanda Adolfina,Miss
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,0,S,0,Hewlett,(Mary D Kingcome),Mrs. (Mary D Kingcome),Mrs
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q,0,Rice,Eugene,Master. Eugene,Master
17,18,1,2,"Williams, Mr. Charles Eugene",male,0.0,0,0,244373,13.0000,0,S,0,Williams,Charles Eugene,Mr. Charles Eugene,Mr
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,0,S,0,Vander Planke,Julius (Emelia Maria Vandemoortele),Mrs. Julius (Emelia Maria Vandemoortele),Mrs
19,20,1,3,"Masselmani, Mrs. Fatima",female,0.0,0,0,2649,7.2250,0,C,0,Masselmani,Fatima,Mrs. Fatima,Mrs
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,0,S,0,Fynney,Joseph J,Mr. Joseph J,Mr
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0,Beesley,Lawrence,Mr. Lawrence,Mr
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,0,Q,0,McGowan,"Anna ""Annie""","Miss. Anna ""Annie""",Miss
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0,Sloper,William Thompson,Mr. William Thompson,Mr
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,0,S,0,Palsson,Torborg Danira,Miss. Torborg Danira,Miss
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,0,S,0,Asplund,Carl Oscar (Selma Augusta Emilia Johansson),Mrs. Carl Oscar (Selma Augusta Emilia Johansson),Mrs
26,27,0,3,"Emir, Mr. Farred Chehab",male,0.0,0,0,2631,7.2250,0,C,0,Emir,Farred Chehab,Mr. Farred Chehab,Mr
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0,Fortune,Charles Alexander,Mr. Charles Alexander,Mr
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0.0,0,0,330959,7.8792,0,Q,0,O'Dwyer,"Ellen ""Nellie""","Miss. Ellen ""Nellie""",Miss
29,30,0,3,"Todoroff, Mr. Lalio",male,0.0,0,0,349216,7.8958,0,S,0,Todoroff,Lalio,Mr. Lalio,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,0,S,0,Giles,Frederick Edward,Mr. Frederick Edward,Mr
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,0,Swift,Frederick Joel (Margaret Welles Barron),Mrs. Frederick Joel (Margaret Welles Barron),Mrs
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,0.0,8,2,CA. 2343,69.5500,0,S,0,Sage,"Dorothy Edith ""Dolly""","Miss. Dorothy Edith ""Dolly""",Miss
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,0,S,0,Gill,John William,Mr. John William,Mr
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,0,S,0,Bystrom,(Karolina),Mrs. (Karolina),Mrs
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,0,C,0,Duran y More,Asuncion,Miss. Asuncion,Miss
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,0,Roebling,Washington Augustus II,Mr. Washington Augustus II,Mr
868,869,0,3,"van Melkebeke, Mr. Philemon",male,0.0,0,0,345777,9.5000,0,S,0,van Melkebeke,Philemon,Mr. Philemon,Mr
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,0,S,0,Johnson,Harold Theodor,Master. Harold Theodor,Master
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,0,S,0,Balkic,Cerin,Mr. Cerin,Mr
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,0,Beckwith,Richard Leonard (Sallie Monypeny),Mrs. Richard Leonard (Sallie Monypeny),Mrs
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0,Carlsson,Frans Olof,Mr. Frans Olof,Mr
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,0,S,0,Vander Cruyssen,Victor,Mr. Victor,Mr
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,0,C,0,Abelson,Samuel (Hannah Wizosky),Mrs. Samuel (Hannah Wizosky),Mrs
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,0,C,0,Najib,"Adele Kiamie ""Jane""","Miss. Adele Kiamie ""Jane""",Miss
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,0,S,0,Gustafsson,Alfred Ossian,Mr. Alfred Ossian,Mr
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,0,S,0,Petroff,Nedelio,Mr. Nedelio,Mr
878,879,0,3,"Laleff, Mr. Kristo",male,0.0,0,0,349217,7.8958,0,S,0,Laleff,Kristo,Mr. Kristo,Mr
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,0,Potter,Thomas Jr (Lily Alexenia Wilson),Mrs. Thomas Jr (Lily Alexenia Wilson),Mrs
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,0,S,0,Shelley,William (Imanita Parrish Hall),Mrs. William (Imanita Parrish Hall),Mrs
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,0,S,0,Markun,Johann,Mr. Johann,Mr
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,0,S,0,Dahlberg,Gerda Ulrika,Miss. Gerda Ulrika,Miss
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,0,S,0,Banfield,Frederick James,Mr. Frederick James,Mr
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,0,S,0,Sutehall,Henry Jr,Mr. Henry Jr,Mr
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,0,Q,0,Rice,William (Margaret Norton),Mrs. William (Margaret Norton),Mrs
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S,0,Montvila,Juozas,Rev. Juozas,Rev
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,Graham,Margaret Edith,Miss. Margaret Edith,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S,0,Johnston,"Catherine Helen ""Carrie""","Miss. Catherine Helen ""Carrie""",Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,Behr,Karl Howell,Mr. Karl Howell,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q,0,Dooley,Patrick,Mr. Patrick,Mr

In [129]:
def Prefix_to_numeric(w):
    if w==' Mr':
        return 1
    if w==' Mrs':
        return 1
    if w==' Miss':
        return 0
    if w==' Master':
        return 0
    else:
        return 1

In [130]:
df['Adult'] = df['Prefix'].apply(Prefix_to_numeric)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,male,Last,first,beginning,Prefix,Prefixscore,Adult
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S,0,Braund,Owen Harris,Mr. Owen Harris,Mr,1,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,Cumings,John Bradley (Florence Briggs Thayer),Mrs. John Bradley (Florence Briggs Thayer),Mrs,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S,0,Heikkinen,Laina,Miss. Laina,Miss,2,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,Futrelle,Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),Mrs,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S,0,Allen,William Henry,Mr. William Henry,Mr,1,1
5,6,0,3,"Moran, Mr. James",male,0.0,0,0,330877,8.4583,0,Q,0,Moran,James,Mr. James,Mr,1,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,McCarthy,Timothy J,Mr. Timothy J,Mr,1,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S,0,Palsson,Gosta Leonard,Master. Gosta Leonard,Master,2,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S,0,Johnson,Oscar W (Elisabeth Vilhelmina Berg),Mrs. Oscar W (Elisabeth Vilhelmina Berg),Mrs,1,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C,0,Nasser,Nicholas (Adele Achem),Mrs. Nicholas (Adele Achem),Mrs,1,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0,Sandstrom,Marguerite Rut,Miss. Marguerite Rut,Miss,2,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0,Bonnell,Elizabeth,Miss. Elizabeth,Miss,2,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S,0,Saundercock,William Henry,Mr. William Henry,Mr,1,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S,0,Andersson,Anders Johan,Mr. Anders Johan,Mr,1,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,0,S,0,Vestrom,Hulda Amanda Adolfina,Miss. Hulda Amanda Adolfina,Miss,2,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,0,S,0,Hewlett,(Mary D Kingcome),Mrs. (Mary D Kingcome),Mrs,1,1
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q,0,Rice,Eugene,Master. Eugene,Master,2,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,0.0,0,0,244373,13.0000,0,S,0,Williams,Charles Eugene,Mr. Charles Eugene,Mr,1,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,0,S,0,Vander Planke,Julius (Emelia Maria Vandemoortele),Mrs. Julius (Emelia Maria Vandemoortele),Mrs,1,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,0.0,0,0,2649,7.2250,0,C,0,Masselmani,Fatima,Mrs. Fatima,Mrs,1,1
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,0,S,0,Fynney,Joseph J,Mr. Joseph J,Mr,1,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0,Beesley,Lawrence,Mr. Lawrence,Mr,1,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,0,Q,0,McGowan,"Anna ""Annie""","Miss. Anna ""Annie""",Miss,2,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0,Sloper,William Thompson,Mr. William Thompson,Mr,1,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,0,S,0,Palsson,Torborg Danira,Miss. Torborg Danira,Miss,2,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,0,S,0,Asplund,Carl Oscar (Selma Augusta Emilia Johansson),Mrs. Carl Oscar (Selma Augusta Emilia Johansson),Mrs,1,1
26,27,0,3,"Emir, Mr. Farred Chehab",male,0.0,0,0,2631,7.2250,0,C,0,Emir,Farred Chehab,Mr. Farred Chehab,Mr,1,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0,Fortune,Charles Alexander,Mr. Charles Alexander,Mr,1,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0.0,0,0,330959,7.8792,0,Q,0,O'Dwyer,"Ellen ""Nellie""","Miss. Ellen ""Nellie""",Miss,2,0
29,30,0,3,"Todoroff, Mr. Lalio",male,0.0,0,0,349216,7.8958,0,S,0,Todoroff,Lalio,Mr. Lalio,Mr,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,0,S,0,Giles,Frederick Edward,Mr. Frederick Edward,Mr,1,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,0,Swift,Frederick Joel (Margaret Welles Barron),Mrs. Frederick Joel (Margaret Welles Barron),Mrs,1,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,0.0,8,2,CA. 2343,69.5500,0,S,0,Sage,"Dorothy Edith ""Dolly""","Miss. Dorothy Edith ""Dolly""",Miss,2,0
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,0,S,0,Gill,John William,Mr. John William,Mr,1,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,0,S,0,Bystrom,(Karolina),Mrs. (Karolina),Mrs,1,1
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,0,C,0,Duran y More,Asuncion,Miss. Asuncion,Miss,2,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,0,Roebling,Washington Augustus II,Mr. Washington Augustus II,Mr,1,1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,0.0,0,0,345777,9.5000,0,S,0,van Melkebeke,Philemon,Mr. Philemon,Mr,1,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,0,S,0,Johnson,Harold Theodor,Master. Harold Theodor,Master,2,0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,0,S,0,Balkic,Cerin,Mr. Cerin,Mr,1,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,0,Beckwith,Richard Leonard (Sallie Monypeny),Mrs. Richard Leonard (Sallie Monypeny),Mrs,1,1
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0,Carlsson,Frans Olof,Mr. Frans Olof,Mr,1,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,0,S,0,Vander Cruyssen,Victor,Mr. Victor,Mr,1,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,0,C,0,Abelson,Samuel (Hannah Wizosky),Mrs. Samuel (Hannah Wizosky),Mrs,1,1
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,0,C,0,Najib,"Adele Kiamie ""Jane""","Miss. Adele Kiamie ""Jane""",Miss,2,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,0,S,0,Gustafsson,Alfred Ossian,Mr. Alfred Ossian,Mr,1,1
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,0,S,0,Petroff,Nedelio,Mr. Nedelio,Mr,1,1
878,879,0,3,"Laleff, Mr. Kristo",male,0.0,0,0,349217,7.8958,0,S,0,Laleff,Kristo,Mr. Kristo,Mr,1,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,0,Potter,Thomas Jr (Lily Alexenia Wilson),Mrs. Thomas Jr (Lily Alexenia Wilson),Mrs,1,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,0,S,0,Shelley,William (Imanita Parrish Hall),Mrs. William (Imanita Parrish Hall),Mrs,1,1
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,0,S,0,Markun,Johann,Mr. Johann,Mr,1,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,0,S,0,Dahlberg,Gerda Ulrika,Miss. Gerda Ulrika,Miss,2,0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,0,S,0,Banfield,Frederick James,Mr. Frederick James,Mr,1,1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,0,S,0,Sutehall,Henry Jr,Mr. Henry Jr,Mr,1,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,0,Q,0,Rice,William (Margaret Norton),Mrs. William (Margaret Norton),Mrs,1,1
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S,0,Montvila,Juozas,Rev. Juozas,Rev,1,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,Graham,Margaret Edith,Miss. Margaret Edith,Miss,2,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S,0,Johnston,"Catherine Helen ""Carrie""","Miss. Catherine Helen ""Carrie""",Miss,2,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,Behr,Karl Howell,Mr. Karl Howell,Mr,1,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q,0,Dooley,Patrick,Mr. Patrick,Mr,1,1

Then I ran the test train split for decision trees to train the model and score it.

In [137]:
dfsubset = df.filter(["Survived", "Pclass", "Age", "Fare", "male"])

In [138]:
X = dfsubset[["Pclass", "Age", "Fare", "male"]]
y = dfsubset[["Survived"]]

In [140]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [141]:
model = tree.DecisionTreeClassifier().fit(X_train, y_train)

In [142]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [143]:
model.score(X, y)

0.86644219977553316

Trying to make a picture, I think I have to install something else first.  Says I don't have pydotplus

In [158]:
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
dtree.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [159]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(dtree, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

ModuleNotFoundError: No module named 'pydotplus'

In [145]:
model.predict([[1,.67, 14.5,  1]])

array([0], dtype=int64)